<div class="main-container">
  <div id="list">

<h2>holaaaa</h2>
<h2>chaiiii</h2>
<h2>holaaaa</h2>
<h2>chaiiii</h2>
<h2>holaaaa</h2>
<h2>chaiiii</h2>
<h2>holaaaa</h2>
<li><%= link_to "Beginner", tools_path(min_price_cents: 1000, max_price_cents: 2000) %> </li>
<li><%= link_to "40-50", tools_path(min_price_cents: 4000, max_price_cents: 5000) %> </li>
<h5> <%= link_to tools_path(name: "martillo") do %>
        martillos <% end %></h5>
<h5> <%= link_to tools_path(name: "taladro") do %>
        <i class="fas fa-music"></i> Songs <% end %></h5>
  </div>


  <div class="container">
    <div class="row">
      <h1>Tools</h1>
      <% @tools.each do |tool| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to image_tag(tool.photo_url), tool_path(tool) %>
            <div class="caption">
              <h3><%= link_to tool.name, tool_path(tool) %></h3>
              <p><%= tool.category.name %></p>
              <p>Amount: <%= humanized_money_with_symbol(tool.price) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
