<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @tool.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@tool.photo_url, width: '100%') %>
    </div>
        <div class="col-sm-12 col-md-6">
          <div class="content">
            <p>Some awesome description <br>
              <br>of our amazing tool
            djdjdjd <br>
          jdjdjdjdj <br>
        jdjdjdjd</p>
            <p>Amount: <%= humanized_money_with_symbol(@tool.price) %></p>
            <%= form_tag orders_path do %>
            <%= hidden_field_tag 'tool_id', @tool.id %>
            <%= submit_tag 'Comprar', class: 'btn' %>
            <% end %>
          </div>
        </div>

    </div>
    <div class="col-sm-12 col-md-6">
          <div id="reviews">
            <h5> Comentarios (<%= @tool.reviews.size %>) </h5>
             <h6> Deja tu comentario</h6>

            <% @tool.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
            <% end %>
          </div>
        </div>
    <%= render 'reviews/form', tool: @tool, review: @review %>
</div>


