<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @tool.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@tool.photo_url, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Some awesome description of our amazing tool.</p>
      <p>Amount: <%= humanized_money_with_symbol(@tool.price) %></p>
    <%= form_tag orders_path do %>
  <%= hidden_field_tag 'tool_id', @tool.id %>
  <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
<% end %>
    </div>
  </div>
  <div id="reviews">
  <% if @restaurant.reviews.blank? %>
    Be the first to leave a review for <%= @restaurant.name %>
  <% else %>
    <% @restaurant.reviews.each do |review| %>
      <%= render 'reviews/show', review: review %>
    <% end %>
  <% end %>
</div>
</div>
