<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to tools_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logohuinca.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">



      <!-- Links when logged in -->
        <div class="dropdown">
          <button class="dropbtn">Categorias <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <%= link_to tools_path(name: "martillo") do %>
        Martillos <% end %>
            <%= link_to tools_path(name: "Martillos") do %>Martillos<% end %>
            <%= link_to tools_path(name: "taladro") do %>Taladros<% end %>
            <%= link_to tools_path(name: "Amoladora") do %>Amoladora<% end %>
            <%= link_to tools_path(name: "Grupo-electrogeno") do %>Grupo-electrogeno<% end %>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Marcas <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <h5> <%= link_to tools_path(brand: "Stanley") do %>Stanley<% end %></h5>
            <h5> <%= link_to tools_path(brand: "Bosch") do %>Bosch<% end %></h5>
            <h5> <%= link_to tools_path(brand: "Makita") do %>Makita<% end %></h5>
            <h5> <%= link_to tools_path(brand: "Tersuave") do %>Tersuave<% end %></h5>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Precio <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <%= link_to "$ 10--20", tools_path(min_price_cents: 1000, max_price_cents: 2000) %>
            <%= link_to "40-50", tools_path(min_price_cents: 4000, max_price_cents: 5000) %>
            <%= link_to "200-800", tools_path(min_price_cents: 20000, max_price_cents: 50000) %>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Novedades <i class="fas fa-angle-down"></i></button>
          <div class="dropdown-content">
            <%= link_to 'productos', tools_path %>
            <%= link_to 'productos', tools_path %>
            <%= link_to 'productos', tools_path %>
            <%= link_to 'productos', tools_path %>
            <%= link_to 'productos', tools_path %>
          </div>
        </div>



      <!-- Avatar with dropdown menu -->
      <% if user_signed_in? %>
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <button class="dropbtn">
          <%= image_tag "hammer-solid.svg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %> </button>
            <div class="dropdown-content">
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </div>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
       <%= link_to t(".sign_in", default: "Iniciar Sesion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if user_signed_in? %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to tools_path do %><i class="fas fa-screwdriver"></i> Productos</li>
        <% end %>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"></i> <%= t(".sign_out", default: "Log out") %>
              <% end %></li>
      </ul>
    </div>
  </div>
  <% else %>
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to t(".sign_in", default: "Iniciar Sesion"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
         <li><%= link_to tools_path do %>Productos <i class="fas fa-wrench"></i> </li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
</div>

