<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url('https://www.masshire.co.za/wp-content/uploads/2016/08/Bosch-Banner-01.jpg');">
  <div class="banner-content">
    <h4>HUINCA</h4>
    <h5> Provedor N1 de insumos y herramientas para industrias</h5>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "motosierra") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/motosierra-electrica-electrosierra-black-decker-1850-watts-D_NQ_NP_14319-MLA20085594027_042014-F.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Motosierras</h5>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "amoladora") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/amoladora-angular-bosch-2000w-gws-20-230-230mm-D_NQ_NP_741917-MLA27009849170_032018-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Amoladoras</h5>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "taladro") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/taladro-percutor-black-decker-650w-13mm-hd650k-con-maleta-D_NQ_NP_876377-MLA28987154055_122018-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Taladros</h5>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "grupo electrogeno") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/grupo-electrogeno-generador-electrico-dogo-3500ae-4t-15lt-D_NQ_NP_922547-MLA29339856441_022019-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Grupos Electrogenos</h5>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "sierra") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/sierra-circular-1700w-disco-7-14-stsc1718-stanley-pintumm-D_NQ_NP_679396-MLA27913648455_082018-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sierras</h5>
          <%end%>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <%= link_to tools_path(string: "taladro") do %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://http2.mlstatic.com/amoladora-angular-bosch-2000w-gws-20-230-230mm-D_NQ_NP_741917-MLA27009849170_032018-F.webp" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Amoladoras</h5>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


