<div class="container">
  <div class="payment-wrapper">

    <div class="payment">
      <div class="images-payment">
        <img src=" <%= @tool.photo_url %>" alt="image" width="175px">
      </div>
      <div class="payment-container">
        <h4> <%= @tool.name %> </h4>
        <h5>Sku: <%= @order.tool_sku %></h5>
        <h5> Cantidad: 1</h5>

      </div>
      <div class="payment-order">
        <form action="/procesar-pago" method="POST">
          <%= hidden_field_tag :authenticity_token %>
          <input type="hidden" name='order_id' value=<%= @order.id %>>
          <script
          src="https://www.mercadopago.com.ar/integrations/v1/web-tokenize-checkout.js"
          data-public-key="TEST-1f6e5430-3a71-4285-91ea-f29959551977"
          data-transaction-amount="<%= @order.amount %>">
        </script>
      </form>
    </div>
  </div>
</div>
</div>
